In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv('Absenteeism_data.csv')

In [3]:
raw_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [4]:
raw_data.describe()

,ID,Reason for Absence,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
count,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,17.951429,19.411429,222.347143,29.892857,36.417143,271.801774,26.737143,1.282857,1.021429,0.687143,6.761429
std,11.028144,8.356292,66.312960,14.804446,6.379083,40.021804,4.254701,0.668090,1.112215,1.166095,12.670082
min,1.000000,0.000000,118.000000,5.000000,27.000000,205.917000,19.000000,1.000000,0.000000,0.000000,0.000000
25%,9.000000,13.000000,179.000000,16.000000,31.000000,241.476000,24.000000,1.000000,0.000000,0.000000,2.000000
50%,18.000000,23.000000,225.000000,26.000000,37.000000,264.249000,25.000000,1.000000,1.000000,0.000000,3.000000
75%,28.000000,27.000000,260.000000,50.000000,40.000000,294.217000,31.000000,1.000000,2.000000,1.000000,8.000000
max,36.000000,28.000000,388.000000,52.000000,58.000000,378.884000,38.000000,4.000000,4.000000,8.000000,120.000000

In [5]:
df = raw_data.copy()

In [6]:
df.drop(columns='ID', axis=1, inplace=True)

In [7]:
df.columns

Index(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 'Absenteeism Time in Hours'],
      dtype='object')

In [8]:
reason_columns = pd.get_dummies(df['Reason for Absence'], dtype='int')
reason_columns['check'] = reason_columns.sum(axis=1)

In [9]:
reason_columns['check'].sum()

700

In [10]:
reason_columns.drop(columns=[0,'check'], inplace=True)

In [11]:
reason_columns.head()

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [12]:
reason_type1 = reason_columns.loc[:,1:14].max(axis=1)
reason_type2 = reason_columns.loc[:,15:17].max(axis=1)
reason_type3 = reason_columns.loc[:,18:21].max(axis=1)
reason_type4 = reason_columns.loc[:,22:28].max(axis=1)

In [13]:
df.drop(columns='Reason for Absence', inplace=True)

In [14]:
df = pd.concat([df, reason_type1, reason_type2, reason_type3, reason_type4], axis=1)

In [15]:
df.columns

Index([                     'Date',    'Transportation Expense',
                'Distance to Work',                       'Age',
         'Daily Work Load Average',           'Body Mass Index',
                       'Education',                  'Children',
                            'Pets', 'Absenteeism Time in Hours',
                                 0,                           1,
                                 2,                           3],
      dtype='object')

In [16]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
                 'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
                 'Pet', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [17]:
df.columns = column_names

In [18]:
df.columns

Index(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pet', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3',
       'Reason_4'],
      dtype='object')

In [19]:
column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense', 
                                      'Distance to Work', 'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education', 
                                      'Children', 'Pet', 'Absenteeism Time in Hours']

df = df[column_names_reordered]
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

### Checkpoint of Work

In [20]:
#Grouped reasons into 4 groups, based on reason characteristics. 
#Reason for Absence removed. 
df_mod1 = df.copy()

In [21]:
df_mod1['Date'] = pd.to_datetime(df_mod1['Date'], format = '%d/%m/%Y')

In [22]:
df_mod1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason_1                   700 non-null    int64
 1   Reason_2                   700 non-null    int64
 2   Reason_3                   700 non-null    int64
 3   Reason_4                   700 non-null    int64
 4   Date                       700 non-null    datetime64[ns]
 5   Transportation Expense     700 non-null    int64
 6   Distance to Work           700 non-null    int64
 7   Age                        700 non-null    int64
 8   Daily Work Load Average    700 non-null    float64
 9   Body Mass Index            700 non-null    int64
 10  Education                  700 non-null    int64
 11  Children                   700 non-null    int64
 12  Pet                        700 non-null    int64
 13  Absenteeism Time in Hours  700 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(12)
memory usage: 76.7 KB

In [23]:
list_months = []

for m in range(df_mod1.shape[0]):
    list_months.append(df_mod1['Date'][m].month)

In [24]:
df_mod1['Month Value'] = list_months

In [25]:
def date_to_weekday(date):
    return date.weekday()

In [26]:
df_mod1['Day of the Week'] = df_mod1['Date'].apply(date_to_weekday)

In [27]:
df_mod2 = df_mod1.copy()

In [28]:
df_mod2.drop(columns='Date', inplace=True)

In [29]:
df_mod2.columns

Index(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pet', 'Absenteeism Time in Hours', 'Month Value', 'Day of the Week'],
      dtype='object')

In [30]:
columns_reordered_up = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value', 'Day of the Week',
                     'Transportation Expense', 'Distance to Work', 'Age',
                     'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
                     'Pet', 'Absenteeism Time in Hours']
df_mod2 = df_mod2[columns_reordered_up]
df_mod2.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2

In [31]:
df_mod2['Education'].value_counts()

Education
1    583
3     73
2     40
4      4
Name: count, dtype: int64

In [32]:
df_mod2['Education'] = df_mod2['Education'].map({1:0, 2:1, 3:1, 4:1})

In [33]:
df_mod2['Education'].value_counts()

Education
0    583
1    117
Name: count, dtype: int64

### Checkpoint 2

In [34]:
df_preprocessed = df_mod2.copy()

In [35]:
df_preprocessed.to_csv('Absenteeism_preprocessed.csv', index=False)